parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - '**/Processor/PdfReactor.php'
        - '**/PDFreactor.class.php'
    ignoreErrors:
        -
            message: '#Call to method (arrayNode|children|append|integerNode|scalarNode|booleanNode|enumNode|variableNode)\(\) on an unknown class#'
            path: src/DependencyInjection/Configuration.php

		-
			identifier: missingType.iterableValue

		-
			identifier: missingType.generics

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
